<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Opti-Path3</title>
    <link rel="stylesheet" href="../static/webstyle.css">
    <style>
        .centered-image {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 100%;
            height: calc(100vh - 50px); /* fill remaining height below navbar */
            overflow: hidden;
        }

        .centered-image img {
            width: 100%;
            height: 100%;
            object-fit: contain;
        }
    </style>
</head>
<body>
    <div class="navbar">
        <a href="/">Home</a>
        <a href="/opt">2/3 Opt</a>
        <a href="/antcolony">Ant Colony</a>
        <a href="/bruteforce">Brute Force</a>
        <a href="/christofides">Christofides</a>
        <a href="/heldkarp">Held Karp</a>
        <a href="/linkernighan">Lin-Kernighan</a>
        <a href="/insertionalgorithms">Insertion Algorithms</a>
        <a href="/nearestNeighbour">Nearest Neighbour</a>
        <a href="/randomisedLocalSearch">Randomised Local Search</a>
    </div>
    <div class="centered-image">


        <img src="../static/images/hero.png" alt="map">


        
    </div>
</body>
